.content{
	margin: 0 0 0 14em;
}

.date{
       margin: 0 0 0 -12em;
       text-align: right;
       float: left;
}

.flex-container {
	text-align: center;
	background-color:rgb(0,38, 77); 
	border: 3px solid white;
	padding: 0.5em;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar main main main';
  grid-gap: 0.5em; 
  height: 100vh;
  width: 100vw;
}

.grid-container > div {
  padding: 20px 20px;
  font-size: 30px;
  align-items: block;
}

.header {
	grid-area: header;
	color: white;
	background-color:rgb(0, 38, 77); 
	display: inline-flex;
	justify-content: center;
}

.Info{
	border-color: black;
	color:  black
	height: 1em;
}

.main {
	grid-area: main;
	background-color: rgb(230,242,255);
}

.sidebar { 
	grid-area: sidebar;
	background-color: rgb(224,224,224);	
}

ul{
   list-style-type: disc;
   columns: 2;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


#image img{
	position: relative;
	text-align: center;
	border-radius: 50%;	
}

#sub{
	float:left;
}


*{
   box-sizing: border-box;
}
